.courses{
    padding: 100px 0;
}

.pagination_section{
    padding: 60px 45px;
}

.courses_headr{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #5b5b5b;
    background-color: #F9F9F9;
    padding: 20px 35px;
}

.courses_headr span:nth-child(1){
    color: #1C1C1C;
cursor: pointer ;
}
.courses_headr span:nth-child(1):hover{
    color: red;
}
.courses_headr span:nth-child(2){
    font-size: 14px;
}
.courses_headr span{
    margin-left: 15px;
}
.pagination_title{
    font-size: 45px;
    /* line-height: 1.25rem; */
    font-weight: 600;
    color: #1C1C1C;
    padding: 0 !important;
}

.projects_h{
    font-size: 45px;
    font-weight: 600;
    color: #1C1C1C;
    padding: 60px 0px !important;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.filter button{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25rem;
    border: none;
    color: #fff;
    padding: 12px 24px 12px 24px;
    background-color: black;
    transition: 0.5s ease all;
}
.filter button:hover{
    background-color:#CC0025;
}
.filter button span{
    font-size: 23px;
    margin-left: 15px;
}

.filter_left{
    font-size: 16px;
    color: #5b5b5b;
}
.filter_span{
    position: relative;
}
.filter_span:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 1px;
    height: 100%;
    background-color: #65626259;   
    
}
select{
    border: none;
    outline: none;
    margin-left: 30px;
    color: #5b5b5b;
}
.courser_paginations{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.courser_pagination{
    margin-bottom: 40px;
    width: 32%;
}
.pagination_img{
    position: relative;
    width: 100%;
  
}
.pagination_img img{
    width: 100%;
    height: 100%;
}
.price{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 2px 10px 2px 10px;
    background-color: #1C1C1C;
    color: #fff;
}
.courser_pagination h6{
    font-size: 18px;
    color: #1C1C1C;
    margin: 20px 0;
    width: 100%;
    height: 40px;
    transition: 0.3s ease all;
}
.courser_pagination h6:hover{
    cursor: pointer;
    color: red;
}
.courser_pagination div span{
    font-size: 16px;
    color: #5b5b5b;
    margin-right: 20px;
}
.after_line{
    position: relative;
}
.after_line span::after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 75px;
    width: 1px;
    height: 81%;
    background-color: #65626236;   
}

.projects{
    padding: 0px 35px;
}
.chance_page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.White{
    color: #1C1C1C;
    background-color: #F9F9F9;
    width: 48px;
    height: 48px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.White:hover{
    color: #fff;
    background-color: #1C1C1C;
}
.black{
    color: #fff;
    background-color: #1C1C1C;
    width: 48px;
    height: 48px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.filter-rihtg{
    font-size: 16px;
    color: #5b5b5b;
}
.carier-coaching{
    display: flex;
    gap: 40px;
 
}
.carier-coaching-filter{
    margin-top: 60px;
}
.coaching-filter-items{
    width: 300px;
    border-bottom: 0.5px solid #5b5b5b;
    margin-bottom: 20px;
}
.coaching-filter-items> div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.box{
    width: 16px;
    height: 16px;
    border: 1px solid #b4b9be;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}

.coaching-filter-items >p{
    color: #333;
}
.coaching-filter-items > h5{
    font-size: 20px;
    color: #1C1C1C;
}
.margin{
margin-top: 20px !important;
}
.coaching-filter-item{
    display: flex;
    flex-direction: column;
}
.coaching-filter-item > div{
    display: flex;
    justify-content: space-between;
}
.filter-btn{
    width: 146px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25rem;
    margin-right: 4px;
    border: none;
    color: #fff;
    padding: 11px;
    background-color: black;
    transition: 0.3s ease all;
}
.filter-btn > span{
    font-size: 25px;
    margin-left: 10px;
}
.filter-btn:hover{
    background-color: #CC0025;
    color: #fff;
}
.filter-btn-white{
    width: 146px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25rem;
    background-color: #fff;
    border: 0.5px solid black;
    transition: 0.3s ease all;
}
.filter-btn-white > span{
    margin-left: 10px;
    font-size: 25px;
}
.filter-btn-white:hover{
    background-color: #CC0025;
    color: #fff;
}