.home_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_tite {
    width: 800px;
    height: 56px;
    margin: 0px 0px 30px 0px;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.home_text {
    text-align: center;
    width: 800px;
    height: 56px;
    font-size: 16px;
    color: #fff;
    margin-top: 100px;

}

.home_btn {
    border: none;
    color: #fff;
    background-color: #EB1C33;
    ;
    padding: 12px 24px 12px 24px;
}

.home_btn span {
    margin-left: 20px;
}

.home_btn:hover {
    background-color: #CC0025;
    ;
}

.home_aboutUs {
    display: flex;
    justify-content: space-between;
    /* gap: 80px; */
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 120px;
}

.home_about_imag {
    width: 551px;
    height: 600px;
}

.about_info_top span {
    display: inline-block;
    margin: 15px 0px 10px 0px;
    font-weight: 500;
    text-transform: uppercase;
    color: #EB1C33;
}

.about_info_top h3 {
    font-size: 36px;
    font-weight: 500;
    color: #1c1c1c;
    margin: 0px 0px 40px 0px;
}

.home_about_info {
    padding-right: 15px;
    padding-left: 64px;
}

.about_info_paraqraf {
    max-width:  664px;
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1.7em;
}

.about_info_bottom {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.info_bottom_left {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.info_bottom_left_number span {
    font-size: 64px;
    font-weight: 600;
    color: #CC0025;
}


.info_bottom_left_number div {
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
}

.info_bottom_right div {
    color: #1C1C1C;
    font-size: 16px;
    padding: 9px 1px 10px 0px;

}

.info_bottom_right span {
    display: inline-block;
    color: #EB1C33;
    width: 1.25em;
    font-size: 23px;
    line-height: 1;

}

.info_button {
    border: 2px solid #1C1C1C;
    padding: 10px 22px 10px 22px;
    background-color: #fff;
}

.info_button:hover {
    background-color: #EB1C33;
    border: none;
}

.info_button:hover .Link {
    color: #fff;
}

.Link {
    color: #1C1C1C;
    font-weight: 700;

}

.Link span {
    margin-left: 15px;
}

.section_about {
    background-color: #1C1C1C;
    padding-bottom: 120px;
}

.about_help {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 60px;
}

.about_help p {
    font-size: 16px;
    color: #EB1C33;
    margin: 0px 0px 10px 0px;
    font-weight: 500;
}

.about_help h3 {
    font-size: 36px;
    color: #FFFFFF;
}

.about_help_bottom {

    display: flex;
    justify-content: center;
    gap: 100px;

}

.help_image {
    width: 735px;
}

.help_image img {
 max-width: 750px;
}

.help_bottom_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.help_bottom_left p {
    max-width:  514px;
    font-size: 16px;
    line-height: 1.7em;
    color: #FFFFFF;
}

.help_bottom_left button {
    border: none;
    padding: 12px 24px 12px 24px;
}

.help_bottom_left button:hover {
    background-color: #CC0025;
}

.help_bottom_left button:hover .Link {
    color: #FFFFFF;
}

.bottom_items {
    display: flex;
    justify-content: flex-end;
    padding-top: 29px;
    padding-bottom: 39px;
    padding-right: 27px;
    border-top: 2px solid #5b5b5b;
    width: 464px;
}

.bottom_item_right {
    display: flex;
    align-items: end;
    flex-direction: column;
    cursor: pointer;
  

}

.bottom_item_left_one {
    color: #5b5b5b;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.bottom_items:hover .bottom_item_left_one {
    color: #CC0025;
}

.bottom_item_left_two {
    color: #5b5b5b;
    font-size: 1rem;
    cursor: pointer;
}

.bottom_items:hover .bottom_item_left_two {
    color: #fff;
}

.bottom_items:hover .bottom_item_left {
    color: #fff;
}

.bottom_item_left {
    color: #5b5b5b;
    font-size: 1rem;
    transform: rotate(90deg);
}

.red {
    color: #CC0025 !important;
}

.wihite {
    color: #fff;
}

.bottom_border {
    border-bottom: 2px solid #5b5b5b;
}

.aboutWhatWeDo_headr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.what-we-do-titel {
    margin: 0px 0px 20px 0px;
    font-weight: 500;
    color: #EB1C33;
}

.what-we-do h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #1C1C1C;
    margin-bottom: 40px;
}

.what-we-do-sections ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

.what-we-do-setionc-link {
    font-size: 1rem;
    font-weight: 600;
    color: #1C1C1C;
}

.what-we-do-setionc-link:hover {
    color: #CC0025;
}

.what_we_do_images {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 35px;
}

.wgat_we_do_image {
    width: 30%;
    height: 300px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}

.wgat_we_do_image img {
    width: 100%;
    height: 100%;
    object-fit: inherit;

}

.abouv_content {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20% 25px;
    background: rgba(0, 0, 0, 0.695);
    transition: 2s ease-in-out;
    
}

.abouv_content img {
    width: auto;
    height: auto;
}

.abouv_content p {
    color: #fff;
    font-size: .875rem;
    margin: 15px 0 0;
}

.abouv_content button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: transparent;
    margin-top: 20px;
}

.abouv_content button:hover {
    border-bottom: 2px solid #fff;
 
}

.wgat_we_do_image:hover .abouv_content {
    display: block;
    transition: 0.5s ease-in-out;
}

.slider_images {
    background-color: #F9F9F9;
    margin-top: 40px;
    padding: 120px 60px;

}

.slider_images_titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider_images_titel div {
    margin: 0px 0px 20px 0px;
    font-weight: 500;
    color: #EB1C33;
}

.slider_images_titel h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #1C1C1C;
    margin-bottom: 40px;
}

.slider_imag_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_wrap {
    width: 30%;
}

.slider_imag {
  position: relative;
  margin-bottom: 20px;
}

.slider_imag div {
    position: absolute;
    bottom: 0;
    background-color: #1C1C1C;
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    opacity: 0;
    transition: 0.3s ease all;
}

.slider_imag:hover.slider_imag div{
    opacity: 1;
}

.slider_imag div span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
    padding: 8px 8px 8px 8px;
  width: 40px;
  height: 40px;
  transition: 0.3s ease all;
}

.slider_imag div span:hover{
    background-color: red;
}

.slider_imag_wrap{
    display: flex;
   gap: 50px;
    flex-wrap: nowrap;
    overflow: auto;
overflow-x: hidden;
transition: 0.5s;
}
.chance_image{
    display: inline-block;
    width: 16px;
    height: 6px;
    margin-right: 10px;
    gap: 10px;
    background-color: #5857577c;
    cursor: pointer;
    
}

.videoplay_section{
    background-image: url(../layouts/image/bg-video-popup.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.autoplay_video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.autoplay_video h3{
    font-size: 36px;
    color: #FFFFFF;
    margin: 0px 0px 10px 0px;
}

.autoplay_video p{
    max-width: 960px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.7rem;
    font-weight: 1.25em;
    text-align: center;
}

.autoplay_video div{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #CC0025;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 70px;
    cursor: pointer;
}
.video_animation::before {
    outline-style: solid;
    outline-color: rgba(217, 10, 45, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: 1.5s linear infinite video_sc;
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
}

@keyframes video_sc {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    10% {
        opacity: 0.9;
        transform: scale(1.05);
    }
    20% {
        opacity: 0.8;
        transform: scale(1.1);
    }
    30% {
        opacity: 0.7;
        transform: scale(1.15);
    }
    40% {
        opacity: 0.6;
        transform: scale(1.2);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.25);
    }
    60% {
        opacity: 0.4;
        transform: scale(1.3);
    }
    70% {
        opacity: 0.3;
        transform: scale(1.35);
    }
    80% {
        opacity: 0.2;
        transform: scale(1.4);
    }
    90% {
        opacity: 0.1;
        transform: scale(1.45);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
.what-we-do-sections{
    display: contents;
}

.autoplay_video {
    position: relative;
}

 .button_load{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 } 


 .button_load button{
    position: relative;
    height: 48px;
    width: 165px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px 12px 13px;
text-align: center;
    border: 2px solid #1C1C1C;
    background-color: #fff;
    color: #1C1C1C;
 }
 /* .button_load>button{
    display: inline-block;
 }
.button_load>button:hover button {
    background-color: #CC0025;
    color: #FFFFFF;
    border: none;
} */
.sercule:hover img{
    display: inline-block;
    animation:  2s rotateAnimation linear infinite;
  cursor: pointer;
}
@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media only screen and (max-width:1024px) {
   .home_about_imag{
    width: 418px;
    height: 455px;
   }
   .home_about_imag > img{
    width: 100%;
    height: 100%;
   }
   .about_info_top h3{
    width: 492px;
    font-size: 28px;
    margin-bottom: 20px;
   }
   .home_about_info{
    padding-left: 30px;
   }
   .about_info_bottom{
    gap: 0;
   }
   
   .about_help_bottom {
    gap: 30px;
   }
   .bottom_item_left_two{
    width: 286px;
    text-align: end;
   }
   .bottom_items {
    display: flex;
    justify-content: flex-start;
    width: 356px;
    padding: 15px 0px;
}
.help_image img {
        width: 602px !important;
        margin-left: 15px;
    }
    
.help_bottom_left p {
    max-width:361px;}
.section_about{
    padding: 0 0 60px;
}
.about_help {
    padding-top: 60px;
    padding-bottom: 30px;
}
.aboutWhatWeDo_headr {
    margin-top: 60px;
}
.what-we-do-sections ul{
    gap: 30px;
}
.what_we_do_images{
    padding: 0;
}
.wgat_we_do_image {
    max-height: 226px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 20px;}
.affordable_section {
    background-color: #F9F9F9 !important;
    padding: 60px 15px !important;
}
.blog_section {
    padding: 60px 15px !important;
}
.blog_item img {
    max-width: 309px !important;
}
.blog_item h6 {
    max-width: 309px;
    max-height: 45px;
    overflow: hidden;
    line-height: 1.3rem;
}
.partners_section {
    padding-top: 60px !important;

}
.partners_imgs{
    margin-bottom: 60px !important;
    padding: 0 !important;
}
.partners_imag{
    width: 225px !important;
    margin-top: 30px !important;
}
.affordable_plan{
    max-width: 309px !important;
    background-color: #FFFFFF;
    padding: 30px;
    margin-top: 60px;
}
.affordable-check{
    font-size: 15px !important;
}
.slider_imag {
    max-width:360px;
}
.slick-slide img {
    display: block;
    width: 100%;
}
.slider_imag div{
    width: 100%;
}
.slider_images {
    padding: 60px 15px;
}
}
@media only screen and (max-width:860px){
    .home_aboutUs {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 40px;
        margin-top: 60px;
    }
    .home_about_imag {
        width: 551px;
        height: 600px;
        transform: translateX(25%);
    }
    .home_about_info {
        padding-left: 15px;
    }
    .about_help_bottom {
        display: flex;
        flex-direction: column;
    }
    .help_image img {
        max-width: 800px !important;
    }
    .bottom_items {
        display: flex;
        justify-content: end;
        width: 100%;
        padding-right: 50px;
    }
    .bottom_right{
        padding: 0px 25px;
    }
    .help_bottom_left {
        width: 800px;
         padding-left: 15px;
         padding-right: 20px;
    }
    .help_bottom_left p {
        max-width: 490px !important;
    }
    .abouv_content {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10% 22px;
        background: rgba(0, 0, 0, 0.695);
        transition: 2s ease-in-out;
    }
    .affordable_plan {
        max-width: 252px !important;
        margin-top: 0 !important;
    }   
    .affordable-check {
        font-size: 11px !important;   
    }
    .line-through {
        font-size: 13px !important;
    }
    .blog_items {
        margin-top: 30px !important;
    } 
    .blog_item img {
        max-width: 252px !important;
    } 
    .blog_item h6{
        max-width: 252px !important;
    } 
    .blog_items {
        gap: 35px;
    } 

    .partners_imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 120px;
        padding: 0 30px;
    }
    .partners_imag {
        width: 383px !important;
        height: 173px;
    } 

    .help_image div{
        display: flex;
        justify-content: center ;
    }
    
    
}
@media only screen and (max-width:765px){
    .home_text {
        text-align: center;
        width: 735px;
        height: 56px;
        font-size: 16px;
        color: #fff;
        margin-top: 0px;
    }
    .home_tite {
        font-size: 36px;
    }
    .wgat_we_do_image {
        max-height: 257px;
      width: 47%;
    };
  
    .home_about_imag {
        width: 551px;
        height: 600px;
        transform: translateX(16%);
    }
    .help_image img{
        width: 710px;
    }
    .help_bottom_left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 30px;
    }
    .help_bottom_left p {
        max-width: 735px !important;
    }
    .what-we-do-sections ul {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .what-we-do-setionc-link {
        font-size: 1rem;
        font-weight: 600;
        color: #5b5b5b;
    }
    .autoplay_video h3 {
        font-size: 28px;
    }
    .autoplay_video p {
        max-width: 710px;
    }
    .slider_images_titel h3 {
        font-size: 28px;
    }
    .client_text {
        max-width: 710px;
        font-size: 16px;
        color: #1C1C1C;
        margin: 0px 0 10px;
        text-align: center;
    }
    .client_section {
        padding: 60px 30px;
    }
    .affordable_plans {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
    .affordable_plan {
    max-width: 710px !important;
    }
    .affordable-check {
        font-size: 16px !important;
    }
    .line-through {
        font-size: 16px !important;
    }
    .blog_items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 60px;
    }
    .blog_item img {
        max-width: 710px !important;
    }
    .blog_item h6 {
        max-width: 666px !important;
    }
    .partners_imag {
        width: 710px !important;
        height: 173px;
    }
    .home_about_imag {
        width: 551px;
        height: 600px;
        transform: translateX(15%);
    }
    .image_wrap {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

}

